.sidebar {
    background: #111827;
    min-height: 100vh;
}

.logo {
    color: #22c55e;
}

.nav-link {
    color: white !important;
    padding: 15px 25px;
}

.nav-link i {
    margin-right: 10px;
}

.nav-link:hover {
    background: #1e293b;
    color: #22c55e !important;
}

.nav-link.active,
.nav-link.active-menu {
    background: #1e293b;
    color: #22c55e !important;
}

.main-content {
    background: #1f2937;
    min-height: 100vh;
    padding: 20px;
}
